

<div class="mb-3">
    <app-course-form [dataSource]="dataSource" [courseToEdit]="courseToEdit" (courseSubmitted)="onCourseSubmitted($event)" (courseEdited)="onCourseEdited($event)" (editCourseEvent)="editarCurso($event)"></app-course-form>
</div>

<table mat-table [dataSource]="dataSource"  class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th appFontsize20 color="#2f6aca" appResaltado mat-header-cell *matHeaderCellDef style="color: whitesmoke;"> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="courseName">
      <th appFontsize20 color="#2f6aca" appResaltado mat-header-cell *matHeaderCellDef style="color: whitesmoke;"> Curso </th>
      <td mat-cell *matCellDef="let element"> {{element.curso}} </td>
    </ng-container>
     <!-- Fecha inicio Column -->
     <ng-container matColumnDef="createdAt">
        <th appFontsize20 color="#2f6aca" appResaltado mat-header-cell *matHeaderCellDef style="color: whitesmoke;"> Fecha de Creacion </th>
        <td mat-cell *matCellDef="let element"> {{element.fechaCreacion | date:'dd/MM/yyyy'}} </td>
      </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="actions">
        <th appFontsize20 color="#2f6aca" appResaltado mat-header-cell *matHeaderCellDef style="color: whitesmoke;"> Acciones </th>
        <td mat-cell *matCellDef="let curso">
  
          
          <button mat-icon-button style="color: forestgreen;" (click)="editarCurso(curso)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="eliminarCurso(curso)">
            <mat-icon>delete</mat-icon>
          </button>
          <button  [routerLink]="curso.id" mat-icon-button color="accent">
            <mat-icon>visibility</mat-icon>
          </button>
  
        </td>
    </ng-container>
  
    
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  
  
  