

<div class="mb-3">
    <app-user-form (userSubmitted)="onUserSubmitted($event)"></app-user-form>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Id Column -->
    <ng-container matColumnDef="Id">
      <th appFontsize20 color="#2f6aca" appResaltado mat-header-cell *matHeaderCellDef style="color: whitesmoke;"> Id. </th>
      <td mat-cell *matCellDef="let user"> {{user.id}} </td>
    </ng-container>
  
    <!-- Nombre Completo Column -->
    <ng-container matColumnDef="NombreCompleto">
      <th appFontsize20 color="#2f6aca" appResaltado mat-header-cell *matHeaderCellDef style="color: whitesmoke;"> Nombre Completo </th>
      <td mat-cell *matCellDef="let user"> {{user | fullName}} </td>
    </ng-container>
  
    <!-- Email Column -->
    <ng-container matColumnDef="Email">
      <th appFontsize20 color="#2f6aca" appResaltado mat-header-cell *matHeaderCellDef style="color: whitesmoke;"> Email </th>
      <td  mat-cell *matCellDef="let user"> {{user.email}} </td>
    </ng-container>
  
    <!-- Rol Column -->
    <ng-container matColumnDef="Rol">
      <th appFontsize20  color="#2f6aca" appResaltado mat-header-cell *matHeaderCellDef style="color: whitesmoke;"> Rol </th>
      <td mat-cell *matCellDef="let user"> {{user.role}} </td>
    </ng-container>
  
    <!-- Acciones Column -->
    <ng-container matColumnDef="Acciones">
      <th appFontsize20 color="#2f6aca" appResaltado mat-header-cell *matHeaderCellDef style="color: whitesmoke;"> Acciones </th>
      <td mat-cell *matCellDef="let user">
        <button mat-icon-button style="color: forestgreen;" (click)="editarUsuario(user)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button style="color: red;" (click)="eliminarUsuario(user)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
  </table>
  
  
