.login-container{
    height: 100vh;
    background-image: linear-gradient( 173.1deg,  rgba(226,66,249,0.94) 10.2%, rgba(79,147,249,1) 77.3% );;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: rgb(23, 101, 190);
}